
<div class="pb-24 flex flex-col items-center relative">
    <div class="text-center space-y-8 px-12 md:p-0 flex flex-col items-center">
        <div class="flex">
            <h1 class="text-6xl text-gray-900 font-bold flex flex-col">
                <span class="z-10">
                    History of the Enterprise
                </span>
                <span class="w-full bg-blue-500 h-3 -my-1 rounded-full"></span>
            </h1>
        </div>
        <p class="text-center text-2xl max-w-4xl  text-gray-600">
            The company of the Bizerte Competitiveness Cluster was created within the framework of a
            public-private partnership. and it is a development and exploitation company under the
            supervision of the Ministry of Industry, Energy and Small and Medium Enterprises.
        </p>
    </div>
    <div class="">
        <div class="flex flex-wrap m-4 items-center justify-center">

            <div class="xl:w-1/4 md:w-1/2 p-4">
                <img class="h-46 w-46 w-full object-cover object-center mb-6 rounded-lg"
                    src="../../assets/pole-image-2.png" alt="content">
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <img class="h-46 w-46 w-full object-cover object-center mb-6 rounded-lg"
                    src="../../assets/pole-image-3.png" alt="content">
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <img class="h-46 w-46 w-full object-cover object-center mb-6 rounded-lg"
                    src="../../assets/pole-image-4.png" alt="content">
            </div>
        </div>
    </div>
    <svg class="absolute top-24  opacity-60" width="1458" height="1561" viewBox="0 0 1458 1561" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_23_17)">
        <path d="M958 729.065C958 855.574 756.519 1061 630.046 1061C503.573 1061 500 855.574 500 729.065C500 602.556 602.527 500 729 500C855.473 500 958 602.556 958 729.065Z" fill="#5C95EB"/>
        </g>
        <defs>
        <filter id="filter0_f_23_17" x="0" y="0" width="1458" height="1561" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="250" result="effect1_foregroundBlur_23_17"/>
        </filter>
        </defs>
        </svg>
        
</div>

