<div class="flex flex-col items-center py-24">
    <div class="flex">
        <h1 class="text-6xl text-gray-900 font-bold flex flex-col">
            <span class="z-10">
                PCB Components
            </span>
            <span class="w-full bg-blue-500 h-3 -my-1 rounded-full"></span>
        </h1>
    </div>
    <div class="">
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-wrap text-center justify-center">
                    <div class="sm:w-1/2 mb-10 px-4 relative ">
                        <div class="rounded-lg h-64 overflow-hidden">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="../../assets/pole-image-5.png">
                        </div>
                        <h2 class="title-font text-4xl mt-6 mb-3 font-bold">AGROTECH</h2>
                        <p class="max-w-xl text-xl mx-auto">Which is the use of technology in agriculture, horticulture, and
                            aquaculture with the aim of
                            improving yield, efficiency, and profitability.</p>
                    </div>
                    <div class=" sm:w-1/2 mb-10 px-4">
                        <div class="rounded-lg h-64 overflow-hidden">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="../../assets/Espaces-industriels.jpg">
                        </div>
                        <h2 class="title-font text-4xl mt-6 mb-3 font-bold">High quality industrial spaces
                        </h2>
                        <p class="max-w-xl text-xl mx-auto">
                            Which is a big part of the Pole's Space (45 hectares) along side with a business incubator office space and the headquarters of the PCB Company
                        </p>
                    </div>
                    <div class="mt-0 md:mt-12 sm:w-1/2 mb-10 px-4">
                        <div class="rounded-lg h-64 overflow-hidden">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="../../assets/collab.jpg">
                        </div>
                        <h2 class="title-font text-4xl  mt-6 mb-3 font-bold">
                            Network of regional, national and international partners</h2>
                        <p class="max-w-xl text-xl mx-auto">the PCB has a decent network with different partners that helps them
                            to develop their economic business and build strong partnerships</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>